<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./style.css">
    <title>homebanking</title>
</head>
<body>
<div class="layout" id="app">
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Bank</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">contact</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link "  href="#">about us</a>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
    </header>
    
    <main>
        <div class="h1">
            <h1 class="text-center">HOMEBANKING</h1>
        </div>
        <div class="form">
              <form class="form" @submit.prevent="addClients">
                <span class="signup">Client manager</span>

                <input type="text"v-model="newclient.name"  placeholder="Name" class="form--input" >
                <input v-model="newclient.lastName" type="text" placeholder="lastName" class="form--input">
                <input v-model="newclient.email" type="email" placeholder="Email" class="form--input">

                <button class="form--submit">
                    Add Client
                </button>
            </form>
        </div>
    <div class="h1">
        <h2 class="text-center">Client list</h2>
    </div>
    <div class="table d-flex flex-column">
        <table class="table table-dark table-striped table-edit">
            <thead >
                <tr class="text-center ">
                    <th >Name</th>
                    <th >LastName</th>
                    <th >Email</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody v-for="client in clients" :key="client.id">
                <tr class="text-center">
                    <td >{{client.firstName}}</td>
                    <td >{{client.lastName}}</td>
                    <td >{{client.email}}</td>
                    <td><span><i role="button" class="bi bi-trash3" @click="deleteUser(client._links.self.href)"></i></span></td>
                </tr>
            </tbody>
        </table>
        <div class="h1 text-center" v-if="clients.length == 0">
            <h3>no hay usuarios ingresados</h3>
        </div>
    </div>
<div class="h1">
    <h3>Client REST response</h3>
</div>
<div class="pre-div">
    <pre>
        {{this.json}}
      </pre>
</div>
    </main>

    <footer>
<div class="footer">
    <div>
        <p>COHORT 47</p>
    </div>
    <div>
        <p>gonzalez ramon nicolas</p>
    </div>
    <div>
        <p>task-1</p>
    </div>
</div>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="./manager.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>